body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    padding: 0.9em; 
    background-color: #101524;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 6.25em;
}
.navlinks{
    display: flex;
    justify-content: space-evenly;
    gap: 0em 1.25em;
}
.navdiv a{
    color: grey;
    text-decoration: none;
}
.navdiv a::after{
    content: "";
    display: block;
    width: 1vw;
    height: 0.2vh;
    border-radius: 50px;
    justify-content: center;
}
.navdiv a:hover::after{
content: "";
display: block;
width: 1vw;
height: 2px;
border-radius: 50px;
background-color: #ffffff;
justify-content: center;
margin: 0.2em 0.6em;
}
.navdiv a:hover{
    color: #ffffff;
}
#header{
    background-image:url(Images/image\ 18.png);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 6.25em;
}
#header h2{
    color: #ffffff;
}
.header2 .description{
    text-align: center;
}
#photogrid{
    display: flex;
    gap: 0.5em;
    height: 30vh;
    margin-right: 1em;
    padding: 0em 6.25em;
}
.header2 h2{
    padding: 0em 6.25em;
    text-align: center;
    margin-right: 5em;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
}

.sidebar {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.sidebar h2, .sidebar h3 {
    margin: 10px 0;
}

.sidebar p {
    font-size: 14px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0em 6.25em;
    background-color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border-collapse: separate;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.card p {
    font-size: 14px;
    color: #333;
}
#table h2{
    padding: 0em 6.25em;
}
#table table{
    border-collapse: 1px;
    border-color: #101524;
    padding: 0em 6.25em;  
}
th, td{
    border: 1px #555;
    border-color: #555;
    padding: 0em 6.25em;
    text-align: center;
    height: 5vh;
    width: 1vw;
}
thead{
    background-color: #2196F3;
    text-align: center;
    text-emphasis-color: white;
}
tr:nth-child(even) {background-color: #B9CAFF;}
#table2 table{
    text-align: center;
}
#table3 table{
    text-align: center;
}
#table4 table{
    text-align: center;
}